<!DOCTYPE html>
<html ng-app="quiz">
<head lang="en">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Задача про 16 переключателей</title>

    <div ng-controller="Main" class="center" data-ng-init="init()">

        <h3>
            Задача про 16 переключателей
        </h3>

        <p>
            Переключатели расположены в квардате 4х4, каджый переключатель имеет ровно два
            состояния: голубое и розовое.
            При нажатии на клетку все переключатели, стоящие с ней в одном ряду или одной
            строке, меняют свое состояние.

            Добейтесь, чтобы все переключатели имели голубой цвет.
        </p>


        <table>
            <tr ng-repeat="row in state">
                <td ng-repeat="cell in row track by $index"
                    ng-class="{pink: !cell, blue: cell}" class="cell"
                    ng-click="step($parent.$index, $index)">
                </td>
            </tr>
        </table>

        <div ng-class="{visible: success, invisible: !success" class="centerize">
            Победа.
        </div>


        <div class="centerize">
            <button class="flatten" ng-click="reload()">
                Начать сначала
            </button>
        </div>

    </div>
</head>
<body>

</body>
</html>