<!DOCTYPE html>
<html ng-app="quiz">
<head lang="en">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Задача про 16 переключателей</title>

    <div ng-controller="Main">
        <table>
            <tr ng-repeat="row in state">
                <td ng-repeat="cell in row track by $index"
                    ng-class="{pink: cell, blue: !cell}" class="cell"
                    ng-click="step($parent.$index, $index)">
                </td>
            </tr>
        </table>
    </div>
</head>
<body>

</body>
</html>